// # color

$priamry: #326dee;
$secoundary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// # spacing

$base-padding: 0.75rem;
$base-margin: 0.75rem;

// # borders
$base-border-tickness: 1px;
$base-border-radius: 20px;
