/*************************************** Transforms ****************************************/
/* body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
} */

/** transform => if just use transform: translate(100px,100px) without X or Y first param X and secound param Y */
/** if use one param for two state */

/* img { */
/** transform translate() */
/* transform: translateX(-200px);
  transform: translateY(200px);
  transform: translate(-200px,200px); */
/** transform scale() */
/* transform:scaleX(1.5);
  transform:scaley(1.5);
  transform:scaley(1.5,1.6); */
/** transform rotate() */
/* transform: rotateX(60deg);
  transform: rotateY(60deg);
  transform: rotateZ(90deg); */
/* transform: rotateZ(-90deg) translateY(200px) scale(2); */
/* } */

/*************************************** Transisions ****************************************/

/* .circle { */
/* width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
  border-radius: 50px;
  cursor: pointer;
  /** first time => transision time // secound time => delay */
/* transition: background 1s, transform 0.3s 1s ease; */
/* } */

/* .circle:hover {
    background: salmon;
    transform: rotate(360deg);
} */

/*************************** Keyframes & Animation Fill Mode ****************************/

/** // BASE STYLES // */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/** // ELEMENTS TO ANMATE // */

.mario {
  position: absolute;
  top: -50px;
  left: 0px;
  
}

.luigi {
  position: absolute;
  top: 45px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  /* * animation => 1 animation-name // 2 animation-duration // 3 animation-timing-function // 4 animation-delay // 5 animation-iteration-count // 6 animation-direction // 7 animation-fill-mode // 8 animation-play-state */
  animation: wind 50s linear infinite reverse;
}
/** // KEYFRAMES // */

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1500px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}

/******************************** Chaining Animations *********************************/

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
