body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/** transform => if just use transform: translate(100px,100px) without X or Y first param X and secound param Y */
/** if use one param for two state */

img {
    /** transform translate() */
  /* transform: translateX(-200px);
  transform: translateY(200px);
  transform: translate(-200px,200px); */
  /** transform scale() */
  /* transform:scaleX(1.5);
  transform:scaley(1.5);
  transform:scaley(1.5,1.6); */
  /** transform rotate() */
  /* transform: rotateX(60deg);
  transform: rotateY(60deg);
  transform: rotateZ(90deg); */

}
