body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation: myanimation 4s infinite 2s alternate linear;
}

@keyframes myanimation {
  0% {
    background: white;
    left: 0px;
    top: 0px;
    border-radius: 0 0 0 0;
  }
  25% {
    background: red;
    left: 300px;
    top: 0;
    border-radius: 50% 0 0 0;
  }
  50% {
    background: green;
    left: 300px;
    top: 300px;
    border-radius: 50% 50% 0 0;
  }
  75% {
    background: blue;
    left: 0px;
    top: 300px;
    border-radius: 50% 50% 50% 0;
  }
  100% {
    background: white;
    left: 0px;
    top: 0px;
    border-radius: 50% 50% 50% 50%;
  }
}
