.card {
  display: block;
  border: $base-border-tickness solid #ddd;
  box-shadow: $base-box-shadow;
  padding: $base-padding;

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $base-font-size;
  }

  a {
    text-decoration: underline;
  }
}
